<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>WaViewer</title>

        <script src="https://code.jquery.com/jquery.min.js"></script>
    	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>

        <script type="text/javascript" src="script.js"></script>
    </head>
    <body ng-app="app" ng-controller="homeController">
        <div class="header">
            <h1>Washington State Legislation Viewer</h1>
        </div>
        <div class="container main-content">
            <div class="filters">
                <form>
                    <h3>Year</h3>
                    <select class="form-control" ng-model="year" ng-options="date for date in years" ng-change="getLegislation()"></select>
                    <h3>Type</h3>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="type.bill">Bills</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="type.initiative">Initiatives</label>
                    </div>
                    <h3>Body</h3>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="body.senate">Senate</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" ng-model="body.house">House</label>
                    </div>
                </form>
            </div>
            <div class="show-bills">
                <ol>
                    <li ng-repeat="bill in bills | filter:filterBills">
                        <p>
                            {{bill.BillId}}
                        </p>
                    </li>
                </ol>
            </div>
        </div>
    </body>
</html>
